<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Bandeja de Ciudades</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field md:col-12">
                    <p-table
                    [value]="ciudadesList"
                    [rows]="10"
                    [loading]="loading"
                    [rowHover]="true"
                    styleClass="p-datatable-gridlines"
                    [paginator]="true"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-wrap">
                                <div class="flex-grow-1 mb-2 mr-2">
                                    <span class="p-input-icon-left w-full">
                                        <input
                                            pInputText
                                            type="text"
                                            #filter
                                            (input)="onGlobalFilter($event)"
                                            placeholder="Buscar ciudad"
                                            class="w-full"
                                        />
                                    </span>
                                </div>
                                <div class="mb-2" *ngIf="rol_id !== 23 && rol_id !== 24">
                                    <button
                                        pButton
                                        label="Nueva Ciudad"
                                        icon="pi pi-eye"
                                        class="p-button-primary mr-2"
                                        (click)="navigateAdd()"
                                        style="border-radius: 30px"
                                        *ngIf="rol_id !== 23"
                                    ></button>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col">Acciones</th>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">% de avance</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-ciudad>
                            <tr>
                                <td>
                                    <button *ngIf="rol_id !== 23"
                                        pButton
                                        icon="pi pi-pencil"
                                        style="width: 40px; border-radius: 20px"
                                        title="Editar"
                                        class="p-button-rounded p-button-text p-button-warning"
                                        (click)="navigateToEdit(ciudad)"
                                    ></button>
                                    <!-- <button
                                        pButton
                                        icon="pi pi-trash"
                                        style="width: 40px; border-radius: 20px"
                                        title="Eliminar"
                                        class="p-button-rounded p-button-text p-button-danger"
                                        (click)="navigateToDelete(ciudad.id)"
                                    ></button> -->
                                    <button
                                        pButton
                                        icon="pi pi-eye"
                                        style="width: 40px; border-radius: 20px"
                                        title="Ver"
                                        class="p-button-rounded p-button-text p-button-success"
                                        (click)="navigateToOpenEgresados(ciudad)"
                                    ></button>
                                </td>
                                <td>{{ ciudad.codigo }}</td>
                                <td>{{ ciudad.nombre }}</td>
                                <td>{{ ciudad.avance }}</td>
                                <td>{{ ciudad.estado }}</td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">No se encontraron registros</td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="4">Cargando registros. Por favor espere.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </ng-template>
</p-panel>
