<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">
            {{ acciones === 'add' ? 'Agregar Institución' : (acciones === 'ver' ? 'Ver Institución' : 'Editar Institución') }}
        </span>
    </ng-template>

    <ng-template pTemplate="content">
        <form [formGroup]="institucionForm" (ngSubmit)="guardarInstitucion()">
            <div class="row">
                <div class="grid p-fluid">
                    <div class="field col-12">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="nombre" [disabled]="acciones === 'ver'">
                            <label class="required">Nombre</label>
                        </span>
                        <small *ngIf="institucionForm.get('nombre')?.invalid && institucionForm.get('nombre')?.touched"
                               class="p-error">El nombre es obligatorio</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="grid p-fluid">
                    <div class="field col-6">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="codigo" [disabled]="acciones === 'ver'">
                            <label class="required">Código</label>
                        </span>
                        <small *ngIf="institucionForm.get('codigo')?.invalid && institucionForm.get('codigo')?.touched"
                               class="p-error">El código es obligatorio</small>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="nivel" [disabled]="acciones === 'ver'">
                            <label>Nivel</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="grid p-fluid">
                    <div class="field col-6">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="direccion" [disabled]="acciones === 'ver'">
                            <label class="required">Dirección</label>
                        </span>
                        <small *ngIf="institucionForm.get('direccion')?.invalid && institucionForm.get('direccion')?.touched"
                               class="p-error">La dirección es obligatoria</small>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="telefono" [disabled]="acciones === 'ver'">
                            <label>Teléfono</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="grid p-fluid">
                    <div class="field col-6">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="siglas" [disabled]="acciones === 'ver'">
                            <label class="required">Siglas</label>
                        </span>
                        <small *ngIf="institucionForm.get('siglas')?.invalid && institucionForm.get('siglas')?.touched" class="p-error">
                            Las siglas son obligatorias
                        </small>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="ubigeo" [disabled]="acciones === 'ver'">
                            <label>Ubigeo</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="flex justify-content-end flex-column sm:flex-row">
                    <div class="flex flex-wrap gap-2">
                        <button *ngIf="acciones === 'add'" pButton icon="pi pi-plus" label="Guardar" iconPos="right"
                                class="p-button-success p-button-sm" type="submit"></button>
                        <button *ngIf="acciones === 'actualizar'" pButton icon="pi pi-refresh" label="Actualizar"
                                iconPos="right" class="p-button-warning p-button-sm" type="submit"></button>
                        <button pButton label="Cerrar" icon="pi pi-times" iconPos="right"
                                class="p-button-close-clean" (click)="closeModal($event)"></button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</p-panel>
